body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.title {
    background-color: red;
    text-align: center;
    font-size: 12vw;
    color: white;
    width: 60%;
    height: 15%;
}

.sub-text {
    background-color: blue;
    height: 10%;
    width: 70%;
    color: white;
    text-align: center;
    font-size: 7vh;
}
.info-div {
    height: 5%;
    width: 70%;
    background-color: aqua;
    display: flex;
    align-items: center;
}
.timer {
    width: 50%;
    text-align: center;
}
.high-score {
    width: 50%;
    text-align: center;
}

.game-div {
    background-color: rgb(144, 144, 144);
    width: 70%;
    height: 60%;
    display: flex;
    position: relative;
}

#game-component {
    position: absolute;
}
.bop-it {
    background-color: rgb(73, 5, 98);
    color: white;
    text-align: center;
    height: 30%;
    aspect-ratio: 1/1;
    margin-left: 35%;
    margin-top: 25%;
}

.spin-it {
    background-color: red;
    height: 20%;
    aspect-ratio: 1/1;
    margin-left: 20%;
    margin-top: 50%;
}

.flick-it {
    background-color: rgb(50, 242, 29);
    height: 20%;
    aspect-ratio: 1/1;
    margin-left: 20%;
    margin-top: 10%;
}

.twist-it {
    background-color: yellow;
    height: 20%;
    aspect-ratio: 1/1;
    margin-left: 60%;
    margin-top: 10%;
}

.pull-it {
    background-color: rgb(5, 189, 128);
    height: 20%;
    aspect-ratio: 1/1;
    margin-left: 60%;
    margin-top: 50%;
}

.start-button {
    background-color: green;
    height: 10%;
    width: 70%;
    text-align: center;
}
